/* Base Styles */
.ProjectsSetion {
  margin-top: -300px;
  padding-bottom: 100px;
}

.BGDDDD {
  background: rgb(7, 7, 6);
  margin: 10px 0;
}

.Content001001 {
  padding: 100px 312px;
  margin: 0 auto;
  box-sizing: border-box;
}

.Text00101 {
  max-width: 100%;
  margin: 40px auto;
}

.Text00101 > p {
  color: #ffffff;
  font-family: 'Syne', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  margin: 16px 0;
}

.Heading00221 {
  margin: 16px 0;
}

.Heading00221 > span {
  color: #ffffff;
  font-family: 'Syne', sans-serif;
  font-size: 48px;
  font-weight: 700;
  line-height: 1.2;
  text-transform: capitalize;
}

.TitleSSS555 {
  margin: 16px 0;
}

.TitleSSS555 > span {
  color: #FF8911;
  font-family: 'Syne', sans-serif;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.5;
}

.Carts00102 {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
}

.ProjectCartSSS {
  width: 100%;
  max-width: 416px;
  height: 400px;
  position: relative;
  overflow: hidden;
  margin-bottom: 16px;
  transition: opacity 0.3s ease;
}

.ProjectCartSSS img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.CarddSsS01 {
  display: grid;
  gap: 24px;
  grid-template-columns: repeat(3, 1fr);
}

.FrameSSS555 {
  background-color: white;
  padding: 20px;
  position: absolute;
  bottom: 0;
  width: 85%;
  max-width: 368px;
  margin: 24px 24px;
}

.FrameSSS555 > span {
  color: #7F27FF;
  font-family: 'Syne', sans-serif;
  font-size: 12px;
  font-weight: 500;
}

.Frame55SSS > h6 {
  color: #1A1D27;
  font-family: 'Syne', sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1.2;
  margin: 8px 0;
}

.Frame55SSS > p {
  color: rgba(26, 29, 39, 0.8);
  font-family: 'Syne', sans-serif;
  font-size: 16px;
  line-height: 1.5;
}

/* Hover effect */
.divCarrddSSS {
  position: relative;
  width: 100%;
  max-width: 416px;
  height: 400px;
  overflow: hidden;
  transition: opacity 0.3s ease;
}

.AzizCardSSS {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #FF8911;
  color: #070706;
  opacity: 0;
  transition: opacity 0.3s ease;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.AzizCardSSS > h6 {
  font-family: 'Syne', sans-serif;
  font-size: 24px;
  font-weight: 700;
  color: rgb(7, 7, 6);
  margin: 0;
}

.divCarrddSSS:hover .ProjectCartSSS {
  opacity: 0;
}

.divCarrddSSS:hover .AzizCardSSS {
  opacity: 1;
}

/* Responsive Adjustments */
@media (max-width: 1650px) {
  .Content001001 {
    padding: 100px 5%;
  }
  .Text00101 {
    max-width: 100%;
    margin: 40px 112px;
  }
  .Heading00221 > span {
    font-size: 40px;
    line-height: 1.2;
  }

  .Text00101 > p,
  .Frame55SSS > p {
    font-size: 14px;
  }
  .CarddSsS01 {
    grid-template-columns: repeat(2, 1fr);
  }
}
@media (max-width:1450px) {
  .ProjectsSetion111{
    margin-top: 200px;

  }
}
@media (max-width: 1068px) {
  .Heading00221 > span {
    font-size: 32px;
  }

  .Carts00102 {
    flex-direction: column;
    align-items: center;
  }
  .Text00101 {
    max-width: 100%;
    margin: 40px auto;
  }
  .FrameSSS555 {
    width: 90%;
    padding: 16px;
  }

  .Frame55SSS > h6 {
    font-size: 20px;
  }

  .Text00101 > p,
  .Frame55SSS > p {
    font-size: 14px;
    line-height: 1.4;
  }

  .CarddSsS01 {
    grid-template-columns: 1fr;
  }
}

@media (max-width: 480px) {
  .Heading00221 > span {
    font-size: 24px;
  }

  .Content001001 {
    padding: 80px 3%;
  }
  .Text00101 {
    max-width: 100%;
    margin: 40px auto;
  }
  .FrameSSS555 {
    width: 100%;
    padding: 12px;
  }

  .Text00101 > p,
  .Frame55SSS > h6,
  .Frame55SSS > p {
    font-size: 12px;
  }
}
