.AboutUs {
    gap: 48;
    padding: 140px 312px 140px 312px;
}

.TitlePage13Div {
    height: 242px;
    display: flex;
    flex-direction: column;
    gap: 16;
    margin: 48px 0px;
}

.TitlePage13Div>p {
    width: 1267px;
    height: 48px;
    display: flex;
    gap: 16;
    margin: 16px 0px;
    color: rgba(26, 29, 39, 0.6);
    font-family: 'Syne';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
}

.Txt1Page3Home1 {
    height: 178px;
    gap: 8;
    margin: 16px 0px;
}

.Txt2Page3Home1 {
    height: 26px;
    gap: 12;
}

.Txt2Page3Home1>span {
    height: 26px;
    gap: 12;
    color: rgb(127, 39, 255);
    font-family: 'Syne';
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
}

.Txt1Page3Home1>h3 {
    height: 144px;
    gap: 8;
    color: rgb(26, 29, 39);
    font-family: 'Syne';
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
}

.TextImageHome1page3Div2 {
    height: 533px;
    display: flex;
    gap: 72;
    margin: 48px 0px;
}

.Home1Page3Image01 {
    height: 533px;
    display: flex;
    gap: 15px;
}

.OnePerson {
    width: 255px;
    height: 392.25px;
    border-radius: 16px;
}

.TeamTwoPeople {
    width: 317.78px;
    height: 533px;
    left: 256.22px;
    border-radius: 16px;
}

.AzizCardsheyx {
    height: 100px;
    padding: 20px 30px 119px 30px;
    border-radius: 16px;
    background: rgb(255, 137, 17);
}

.TextPage3Home1Exprience {
    height: 203px;
    margin: 10px 0px;
}

.TextPage3Home1Exprience>h1 {
    height: 40px;
    color: rgb(7, 7, 6);
    font-family: 'Syne';
    font-size: 40px;
    font-weight: 700;
    line-height: 24px;
}

.TextPage3Home1Exprience>p {
    color: rgb(7, 7, 6);
    font-family: 'Syne';
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    height: 20px;
    width: 200px;
}

.TextHome1Page013 {
    width: 650px;
    height: 426px;
    gap: 40;
    margin: 0px 72px;
}

.TextTextHome1Page3 {
    width: 650px;
    height: 330px;
    gap: 24;
    margin: 40px 0px;
}

.Frame1Page3Home1 {
    width: 650px;
    height: 141px;
    gap: 16;
    margin: 24px 0px;
}

.Frame1Page3Home1>span {
    width: 650px;
    height: 56px;
    gap: 16;
    margin: 16px 0px;
    color: rgb(26, 29, 39);
    font-family: 'Syne';
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    letter-spacing: 0px;
    text-transform: capitalize;
}

.Frame1Page3Home1>p {
    width: 650px;
    height: 69px;
    gap: 16;
    margin: 16px 0px;
    color: rgba(26, 29, 39, 0.6);
    font-family: 'Syne';
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.LinePage3Home1 {
    width: 650px;
    height: 0;
    margin: 24px 0px;
    border: 1px solid rgba(255, 137, 17, 0.6);
}

.Frame2Page3Home1 {
    width: 650px;
    height: 141px;
    gap: 16;
    margin: 24px 0px;
}

.Frame2Page3Home1>span {
    color: rgb(26, 29, 39);
    font-family: 'Syne';
    font-size: 24px;
    font-weight: 700;
    line-height: 28px;
    text-transform: capitalize;
    width: 650px;
    height: 56px;
    gap: 16;
    margin: 16px 0px;
}

.Frame2Page3Home1>p {
    width: 650px;
    height: 69px;
    gap: 16;
    margin: 16px 0px;
    color: rgba(26, 29, 39, 0.6);
    font-family: 'Syne';
    font-size: 14px;
    font-weight: 400;
    line-height: 23px;
}

.ActionPage3Home1 {
    width: 218px;
    height: 56px;
    gap: 28;
    margin: 40px 0px;
}

.ActionPage3Home1>button {
    color: rgb(255, 255, 255);
    font-family: 'Syne';
    font-size: 13px;
    font-weight: 500;
    line-height: 16px;
    letter-spacing: 1px;
    padding: 20px 40px 20px 40px;
    margin: 0px 8px;
    border-radius: 6px;
    background: rgb(7, 7, 6);
    width: 218px;
    height: 56px;
    border: none;
    outline: none;
    cursor: pointer;
    text-transform: uppercase;
}

