.CTAASSS {
    height: 472px;
    background: url('../../Assets/CTA.png') no-repeat center center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 140px;
    padding: 120px 20px; /* Responsive padding */
}

.ContentSASSS {
    max-width: 828px;
    width: 100%;
    height: auto;
    text-align: center;
}

.ContentSASSS > h1 {
    color: rgb(255, 255, 255);
    font-family: 'Syne', sans-serif;
    font-size: 64px;
    font-weight: 700;
    margin: 32px 0;
    line-height: 1.2;
    text-transform: capitalize;
}

.buttonssss {
    margin-top: 32px;
}

.buttonssss > button {
    width: 186px;
    height: 56px;
    padding: 20px 40px;
    border-radius: 6px;
    background: rgb(7, 7, 6);
    color: rgb(255, 255, 255);
    font-family: 'Syne', sans-serif;
    font-size: 15px;
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
    border: none;
    cursor: pointer;
}

/* Media queries */
@media (max-width: 1850px) {
    .ContentSASSS > h1 {
        font-size: 48px;
    }
}
@media (max-width: 1500px) {
    .ContentSASSS {
        max-width: 700px;
    }
    .CTAASSS{
        margin-top: 710px;
    }
}
@media (max-width: 1150px) {
    .CTAASSS{
        margin-top: 1510px;
    }
}
@media (max-width: 1300px) {
    .ContentSASSS {
        max-width: 700px;
    }
}

@media (max-width: 1150px) {
    .ContentSASSS {
        max-width: 600px;
    }
}

@media (max-width: 768px) {
    .ContentSASSS > h1 {
        font-size: 36px;
    }
}
