.GetInTouch {
    height: 1072px;
    margin: 340px 312px 140px 0px;
    display: flex;
}

.Image {
    width: 944px;
    height: 792px;
    margin: 0px 138px;
}

.BacgroudBlack {
    width: 880px;
    height: 664px;
    border-radius: 0px 16px 16px 0px;
}

.Imgwww {
    width: 880px;
    height: 664px;
    display: flex;
}

.Imgwww>img {
    width: 1000px;
    height: 603px;
    z-index: 10;
    margin-top: 88px;
    margin-left: -138px;
    background-position: center;
    background-size: cover;
}

.BG {
    width: 400px;
    height: 780px;
    margin-left: -350px;
    object-fit: cover;
    background-position: center;
    background-size: cover;
    position: relative;
    border-radius: 16px;
    background-image: url('../../Assets/BG\(5\).png');

}


.ProgressSSS1 {
    position: absolute;
    width: 216px;
    height: 230px;
    border-radius: 8px;
    background: rgb(255, 137, 17);
    margin-top: 422px;
    margin-left: 100px;
    z-index: 11;
}

.ProgressSSS {
    width: 150px;
    height: 150px;
    position: absolute;
    bottom: 20px;
    right: 20px;
    border-radius: 50%;
    background-color: #ff7f00;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    color: white;
    font-size: 24px;
    z-index: 15;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.GroupSSS {
    color: rgb(18, 18, 18);
    font-family: 'Syne';
    font-size: 20px;
    font-weight: 700;
    line-height: 20.61px;
    width: 96.05px;
    height: 41.98px;
    margin-left: 60px;
    margin-top: 40px;
}

.progress-circle {
    margin-left: 60px;
    margin-top: 20px;
}

.percentage-text {
    color: rgb(26, 29, 39);
    font-family: 'Syne';
    font-size: 20.61px;
    font-weight: 700;
    line-height: 29.77px;
    letter-spacing: 0px;
    text-align: center;
}


.TxtASS {
    width: 526px;
    height: 664px;
    margin: 0px 138px;
}


.TxtASS01 {
    width: 526px;
    height: 194px;
    margin: 30px 0px;
}

.TxtASS01Sivsss {
    width: 150px;
    height: 26px;
    margin: 24px 0px;
}

.TxtASS01Sivsss>span {
    color: rgb(127, 39, 255);
    font-family: 'Syne';
    font-size: 18px;
    font-weight: 700;
    line-height: 26px;
    width: 150px;
    height: 26px;
}

.TxtASS01>h3 {
    width: 526px;
    height: 144px;
    margin: 24px 0px;
    color: rgb(26, 29, 39);
    font-family: 'Syne';
    font-size: 64px;
    font-weight: 700;
    line-height: 72px;
}

.FormSSS {
    width: 526px;
    height: 440px;
    margin: 30px 0px;
}

.InputSSS {
    width: 526px;
    height: 364px;
    margin: 20px 0px;
}

.textname {
    width: 526px;
    height: 56px;
    margin: 12px 0px;
    box-sizing: border-box;
    border: 1px solid rgba(26, 29, 39, 0.4);
    border-radius: 4px;
    color: rgba(26, 29, 39, 0.4);
    font-family: 'Syne';
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    padding: 16px;
    outline: none;

}

.textarea {
    width: 526px;
    height: 160px;
    box-sizing: border-box;
    border: 1px solid rgba(26, 29, 39, 0.4);
    border-radius: 4px;

}

.buttonsss>button {
    border-radius: 4px;
    width: 526px;
    cursor: pointer;
    padding: 20px 40px 20px 40px;
    height: 56px;
    background: rgb(255, 137, 17);
    color: rgb(7, 7, 6);
    font-family: 'Syne';
    font-size: 15px;
    font-weight: 500;
    line-height: 16px;
    margin-top: 20px;
    outline: none;
    border: none;
}


@media (max-width:1850px) {
    .GetInTouch {
        height: 1072px;
        margin: 340px 112px 100px 0px;
        display: flex;
    }

    .Image {
        width: 744px;
        height: 792px;
        margin: 0px 138px;
    }
}

@media (max-width:1730px) {
    .GetInTouch {
        height: 1072px;
        margin: 340px 0px 100px 0px;
        display: flex;
    }

    .Image {
        width: 644px;
        height: 792px;
        margin: 0px 138px;
    }
}

@media (max-width:1650px) {
    .GetInTouch {
        height: 1072px;
        margin: 340px 0px 0px 0px;
        display: flex;
    }

    .Image {
        width: 644px;
        height: 792px;
    }

    .Imgwww {
        width: 880px;
        height: 664px;
        display: flex;
    }

    .BacgroudBlack {
        width: 680px;
        height: 664px;
        border-radius: 0px 16px 16px 0px;
    }

    .TxtASS01>h3 {
        width: 476px;
        height: 144px;
        font-size: 54px;
    }

    .TxtASS01Sivsss>span {
        font-size: 16px;
    }

    .FormSSS {
        width: 406px;
        height: 440px;
        margin: 30px 0px;
    }

    .textname {
        width: 476px;
        height: 56px;
    }

    .textarea {
        width: 476px;
        height: 160px;
    }

    .buttonsss>button {
        width: 476px;
    }

}

@media (max-width:1600px) {
    .GetInTouch {
        display: block;
        margin-bottom: 100px;
    }

    .Imgwww {
        margin-left: 200px;
    }

    .TxtASS {
        margin-left: 200px;
    }

    .textname {
        width: 1000px;
    }

    .textarea {
        width: 1000px;
    }

    .buttonsss>button {
        width: 1000px;
    }

    .GetInTouch {
        padding-bottom: 200px;
    }
}

@media (max-width:1400px) {
    .GetInTouch {
        display: block;
        margin-bottom: 100px;
    }

    .Imgwww {
        margin-left: 130px;
    }

    .TxtASS {
        margin-left: 130px;
    }

    .textname {
        width: 1000px;
    }

    .textarea {
        width: 1000px;
    }

    .buttonsss>button {
        width: 1000px;
    }

    .GetInTouch {
        padding-bottom: 200px;
    }
}

@media (max-width:1200px) {
    .GetInTouch {
        display: block;
        margin-bottom: 100px;
        width: 100%;
    }

    .Imgwww {
        margin-left: 50px;
    }

    .Imgwww>img {
        width: 700px;
    }

    .TxtASS {
        width: 700px;
        margin-left: 50px;
    }

    .textname,
    .textarea,
    .buttonsss>button {
        width: 700px;
    }
    .BG{
        display: none;
    }
}

@media (max-width:1000px) {
    .GetInTouch {
        display: block;
        margin-bottom: 100px;
    }

    .Imgwww {
        margin-left: 130px;
        width: 380px;
    }

    .TxtASS {
        margin-left: 130px;
    }
}

@media (max-width:900px) {
    .GetInTouch {
        display: block;
        margin-bottom: 100px;
    }

    .Imgwww {
        margin-left: 30px;
    }

    .TxtASS {
        margin-left: 30px;
    }
}

@media (max-width:800px) {
    .GetInTouch {
        display: block;
        margin-bottom: 100px;
    }

    .Imgwww {
        margin-left: 30px;
    }

    .TxtASS {
        margin-left: 30px;
    }
}

@media (max-width:700px) {
    .GetInTouch {
        display: block;
        margin-bottom: 100px;
    }

    .Imgwww {
        margin-left: 30px;
    }

    .TxtASS {
        margin-left: 30px;
    }
}